---
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import AnimatedText from "@/components/shared/animated-text";
---

<GlobalLayout
    title="OCAA"
    className="grid gap-[2dvw] auto-rows-[minmax(10rem,auto)] grid-flow-dense max-w-dvw min-h-dvh dark bg-background text-foreground"
    style="grid-template-columns: repeat(auto-fit, minmax(min(15rem, fit-content), 1fr))"
>
        <article
            class="row-span-1 bg-gray-800 p-4 rounded-lg flex flex-col flex-wrap place-content-center"
        >
            <span>01</span>
            <h1 class="text-2xl mt-2">Presentación</h1>
        </article>
        <div
            class="bg-gray-800 p-4 rounded-lg flex flex-col flex-wrap place-content-center"
        >
            <span>02</span>
            <h1 class="text-2xl mt-2">Funciones</h1>
        </div>
        <div
            class="bg-gray-800 p-4 rounded-lg flex flex-col flex-wrap place-content-center"
        >
            <span>03</span>
            <h1 class="text-2xl mt-2">Organigrama</h1>
        </div>
        <div
            class="row-span-3 bg-gray-800 p-4 rounded-lg flex flex-col flex-wrap place-content-center"
        >
            <span>04</span>
            <h1 class="text-2xl mt-2">Objetivos</h1>
        </div>
        <div
            class="col-span-2 row-span-3 col-start-2 bg-gray-800 p-4 rounded-lg flex flex-col flex-wrap place-content-center"
        >
            <span>05</span>
            <AnimatedText client:only>
                <h1 class="text-[clamp(2rem,4dvw,2dvw_+_10rem)]">OCAA</h1>
                <h2
                    class="text-[clamp(1rem,2vw,2dvw_+_1.25rem)] font-bold max-w-2xl text-stone-400"
                >
                    Officina de Calidad Académica y Acreditación
                </h2>
            </AnimatedText>
        </div>
        <div class="col-start-4 row-start-4 bg-gray-800 p-4 rounded-lg">6</div>
        <div
            class="row-span-3 col-start-1 row-start-3 bg-gray-800 p-4 rounded-lg"
        >
            7
        </div>
        <div class="col-start-2 row-start-5 bg-gray-800 p-4 rounded-lg">8</div>
        <div
            class="col-span-2 col-start-3 row-start-5 bg-gray-800 p-4 rounded-lg"
        >
            9
        </div>
</GlobalLayout>
