---
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import AnimatedText from "@/components/shared/animated-text";
---

<GlobalLayout
    title="OCAA"
    class="flex place-items-center place-content-center dark text-foreground bg-background"
>
    <main class="ocaa-grid text-foreground 2xl:w-[clamp(75dvw,100%,120rem)]">
        <section class="back">
            <a href="https://economia.unmsm.edu.pe" class="text-2xl"
                >Volver a la Facultad</a
            >
        </section>

        <section class="presentation">
            <span>01</span>
            <h1 class="text-2xl">Presentación</h1>
        </section>
        <section class="objectives">
            <span>02</span>
            <h1 class="text-2xl">Objetivos</h1>
        </section>

        <section class="functions">
            <span>03</span>
            <h1 class="text-2xl">Funciones</h1>
        </section>

        <section class="organigram">
            <span>04</span>
            <h1 class="text-2xl">Organigrama</h1>
        </section>

        <section class="ocaa relative overflow-hidden flex place-items-center">
            <!-- 🎥 Video como fondo -->
            <video
                src="https://videos.pexels.com/video-files/5599700/5599700-uhd_2560_1440_30fps.mp4"
                autoplay
                muted
                loop
                playsinline
                class="absolute object-cover w-full h-full"></video>

            <!-- <AnimatedText client:only> -->
            <h1
                class="text-[clamp(2rem,15dvw,15rem)] font-black text-white mix-blend-difference"
            >
                OCAA
            </h1>
            <!-- </AnimatedText> -->
        </section>
        <section class="quality-committee">
            <span>05</span>
            <h1 class="text-2xl">Comité de Calidad</h1>
        </section>
        <section class="committee-resolutions">
            <span>06</span>
            <h1 class="text-2xl">Resoluciones del Comité</h1>
        </section>
        <section class="mof">
            <span>07</span>
            <h1 class="text-2xl">MOF</h1>
        </section>
        <section class="contact-us gap-4 lg:col-span-2">
            <span>08</span>
            <h1 class="text-2xl">Contáctanos</h1>
            <ul class="flex flex-row flex-wrap gap-x-8 gap-y-2 justify-between">
                <li>
                    <a
                        class="place-content-center place-items-center flex gap-2"
                        href="mailto:ocaa.economia@unmsm.edu.pe"
                        target="_blank"
                    >
                        <span class="material-symbols-outlined"> mail </span>
                        <span>ocaa.economia@unmsm.edu.pe</span>
                    </a>
                </li>
                <li>
                    <a
                        class="place-content-center place-items-center flex gap-2"
                        href="https://admision.unmsm.edu.pe/portal/"
                        target="_blank"
                    >
                        <span class="material-symbols-outlined">
                            captive_portal
                        </span>
                        <span>OCAA UNMSM</span>
                    </a>
                </li>
            </ul>
        </section>
    </main>
</GlobalLayout>

<style is:global>
    @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
    .ocaa-grid {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(18dvh, auto);
        grid-template-areas:
            "back                   presentation    functions   organigram"
            "objectives             ocaa            ocaa        ocaa"
            "objectives             ocaa            ocaa        ocaa"
            "quality-committee      ocaa            ocaa        ocaa"
            "committee-resolutions  mof      contact-us  contact-us";
    }

    /* estilos base de los bloques */
    .ocaa-grid > * {
        background: var(--color-accent-foreground);
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* asignación de áreas */
    .back {
        grid-area: back;
    }
    .presentation {
        grid-area: presentation;
    }
    .functions {
        grid-area: functions;
    }
    .organigram {
        grid-area: organigram;
    }
    .objectives {
        grid-area: objectives;
    }
    .ocaa {
        grid-area: ocaa;
    }
    .six {
        grid-area: six;
    }
    .seven {
        grid-area: seven;
    }
    .eight {
        grid-area: eight;
    }
    .nine {
        grid-area: nine;
    }

    /* Tablet */
    @media (max-width: 1024px) {
        .ocaa-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "back ocaa ocaa"
                "presentation functions organigram"
                " objectives seven six"
                "eight nine nine";
        }
    }

    /* Móvil */
    @media (max-width: 640px) {
        .ocaa-grid {
            width: 100dvw;
            grid-template-columns: 1fr;
            grid-template-areas:
                "back"
                "ocaa"
                "presentation"
                "functions"
                "organigram"
                "objectives"
                "seven"
                "six"
                "eight"
                "nine";
        }
    }
</style>
