---
import GlobalLayout from "@/layouts/GlobalLayout.astro";
import AnimatedText from "@/components/shared/animated-text";
import Block from "@/components/ocaa/hero/block.astro";
import BackBlock from "@/components/ocaa/hero/back-block.astro";
import OcaaBlock from "@/components/ocaa/hero/ocaa-block.astro";
import MofBlock from "@/components/ocaa/hero/mof-block.astro";
import { Facebook } from "lucide-react";
---

<GlobalLayout
    title="OCAA"
    class="flex place-items-center place-content-center dark text-foreground bg-background"
>
    <main class="ocaa-grid 2xl:w-[clamp(75dvw,100%,120rem)]">
        <BackBlock />
        <Block id="presentation">
            <span class="material-symbols-outlined text-orange-300">
                waving_hand
            </span>
            <h1 class="text-2xl">Presentación</h1>
        </Block>
        <Block id="objectives">
            <span class="material-symbols-outlined text-orange-300">
                target
            </span>
            <h1 class="text-2xl">Objetivos</h1>
        </Block>
        <Block id="functions">
            <span class="material-symbols-outlined text-orange-300">
                category
            </span>
            <h1 class="text-2xl">Funciones</h1>
        </Block>
        <Block id="organigram" class="flex-col">
            <span class="material-symbols-outlined text-orange-300">
                graph_2
            </span>
            <h1 class="text-2xl">Organigrama</h1>
        </Block>
        <OcaaBlock />
        <Block id="quality-committee" class="flex-col">
            <span class="material-symbols-outlined text-orange-300">
                groups
            </span>
            <h1 class="text-2xl">Comité de Calidad</h1>
        </Block>
        <Block id="committee-resolutions" class="flex-col">
            <span class="material-symbols-outlined text-orange-300">
                files
            </span>
            <h1 class="text-2xl">Resoluciones del Comité</h1>
        </Block>
        <MofBlock />
        <Block id="contact-us" class="flex-col items-start text-left">
            <h1 class="text-2xl text-orange-300">Contáctanos</h1>
            <ul
                class="w-full flex flex-rows flex-wrap gap-x-8 gap-y-2 justify-between items-start"
            >
                <li>
                    <a
                        class="place-content-center place-items-center flex gap-2"
                        href="mailto:ocaa.economia@unmsm.edu.pe"
                        target="_blank"
                    >
                        <span
                            class="material-symbols-outlined color-orange-300"
                        >
                            mail
                        </span>
                        <span>ocaa.economia@unmsm.edu.pe</span>
                    </a>
                </li>
                <li>
                    <a
                        class="place-content-center place-items-center flex gap-2"
                        href="https://maps.google.com/maps/dir//-12.0578889,-77.08075/@-12.0578889,-77.08075,20z"
                        target="_blank"
                    >
                        <Facebook />
                        <span>OCAA ~ FCE</span>
                    </a>
                </li>
                <li>
                    <a
                        class="place-content-center place-items-center flex gap-2"
                        href="https://admision.unmsm.edu.pe/portal/"
                        target="_blank"
                    >
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        <span
                            >Calle Germán Amézaga N° 375 Ciudad Universitaria,
                            Lima 1.</span
                        >
                    </a>
                </li>
            </ul>
        </Block>
    </main>
</GlobalLayout>

<style is:global>
    @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
    .ocaa-grid {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(17.5dvh, auto);
        grid-template-areas:
            "back                   presentation    objectives  functions"
            "organigram             ocaa            ocaa        ocaa"
            "quality-committee      ocaa            ocaa        ocaa"
            "committee-resolutions  ocaa            ocaa        ocaa"
            "mof                    contact-us  contact-us      contact-us";
    }

    /* asignación de áreas */
    .back {
        grid-area: back;
    }
    .presentation {
        grid-area: presentation;
    }
    .functions {
        grid-area: functions;
    }
    .organigram {
        grid-area: organigram;
    }
    .objectives {
        grid-area: objectives;
    }
    .ocaa {
        grid-area: ocaa;
    }
    .quality-committee {
        grid-area: quality-committee;
    }
    .committee-resolutions {
        grid-area: committee-resolutions;
    }
    .mof {
        grid-area: mof;
    }
    .contact-us {
        grid-area: contact-us;
    }

    .title {
        grid-area: title;
    }

    /* lg */
    @media (max-width: 64rem) {
        .ocaa-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "back                   ocaa                ocaa"
                "presentation           objectives          functions"
                "organigram             quality-committee   committee-resolutions"
                "mof                    contact-us          contact-us";
        }
    }

    /* sm */
    @media (max-width: 40rem) {
        .ocaa-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "back                   ocaa"
                "presentation           objectives"
                "functions              objectives"
                "organigram             quality-committee"
                "committee-resolutions  mof"
                "contact-us             contact-us";
        }
    }

    /* xs */
    @media (max-width: 28rem) {
        .ocaa-grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "back"
                "ocaa"
                "presentation"
                "functions"
                "objectives"
                "organigram"
                "quality-committee"
                "committee-resolutions"
                "mof"
                "contact-us";
        }
    }
</style>
