---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import NavBarMenu from "@/components/ocaa/nav-bar-menu";
import Opening from "@/components/ocaa/hero/opening";
import AnimatedText from "@/components/shared/animated-text";
import AnimatedTitle from "@/components/ocaa/hero/animated-title";
---

<GlobalLayout title="OCAA">
    <NavBarMenu client:only />
    <video
        class="w-dvw h-dvh fixed object-cover -z-10"
        loop
        muted
        autoplay
        src="https://videos.pexels.com/video-files/3064242/3064242-hd_1920_1080_24fps.mp4"
    ></video>

    <main
        class="w-dvw h-[calc(100dvh_-_4rem)] flex flex-row gap-[2dvw] items-center justify-center"
    >
        <header class="text-white flex flex-col items-center">
            <AnimatedText client:only>
                <h1
                    class="text-[clamp(3rem,10dvw,5dvw+10rem)] font-['Monoton']"
                >
                    OCAA
                </h1>
            </AnimatedText>
            <AnimatedText client:only>
                <h2 class="text-[clamp(1rem,2.25dvw,4.25rem)] font-bold">
                    Oficina de Calidad Académica y Acreditación
                </h2>
            </AnimatedText>
        </header>
    </main>
</GlobalLayout>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
</style>
