---
import NavBarMenu from "@/components/ocaa/nav-bar-menu";
import GlobalLayout from "@/layouts/GlobalLayout.astro";
---

<GlobalLayout title="OCAA">
    <NavBarMenu client:only />

    <section class="img-container">
        <img
            src="https://images.pexels.com/photos/33188674/pexels-photo-33188674.jpeg"
        />
        <article class="flex flex-col text-balance items-center gap-2">
            <header>
                <h1 class="text-9xl">OCAA</h1>
            </header>
            <p class="max-w-md text-balance">
                La Oficina de Calidad Académica y Acreditación (OCAA) busca
                asegurar la mejora continua de la formación académica en la
                Facultad de Ciencias Económicas de la UNMSM. A través de
                procesos de autoevaluación y planes de mejora, trabajamos para
                alcanzar y mantener estándares de acreditación que garanticen
                una educación de excelencia.
            </p>
        </article>
    </section>
    <section class="img-container">
        <img src="/photos/cityscape/2.jpg" />
        <h2>#002</h2>
    </section>
    <section class="img-container">
        <img src="/photos/cityscape/3.jpg" />
        <h2>#003</h2>
    </section>
    <section class="img-container">
        <img src="/photos/cityscape/4.jpg" />
        <h2>#004</h2>
    </section>
    <section class="img-container">
        <img src="/photos/cityscape/5.jpg" />
        <h2>#005</h2>
    </section>
    <div class="progress"></div>
</GlobalLayout>

<!--
<div>
    <img
        src="https://images.pexels.com/photos/33188674/pexels-photo-33188674.jpeg"
    />
    <article class="flex flex-col text-balance items-center gap-2">
        <header>
            <h1 class="text-9xl">OCAA</h1>
        </header>
        <p class="max-w-md text-balance">
            La Oficina de Calidad Académica y Acreditación (OCAA) busca
            asegurar la mejora continua de la formación académica en la
            Facultad de Ciencias Económicas de la UNMSM. A través de
            procesos de autoevaluación y planes de mejora, trabajamos
            para alcanzar y mantener estándares de acreditación que
            garanticen una educación de excelencia.
        </p>
    </article>
</div>
-->
<script>
    import {
        animate,
        scroll,
    } from "https://cdn.jsdelivr.net/npm/motion@12.23.11/+esm";

    // Progress bar representing gallery scroll
    scroll(animate(".progress", { scaleX: [0, 1] }, { ease: "linear" }));
</script>

<style>
    html {
        scroll-snap-type: y mandatory;
    }

    .img-container {
        height: 100dvh;
        scroll-snap-align: start;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 2rem;
    }

    .img-container > div {
        width: 300px;
        height: 400px;
        margin: 20px;
        background: #f5f5f5;
        overflow: hidden;
    }

    .img-container img {
        height: min(75%, min(50dvh, 75rem));
        object-fit: contain;
    }

    .progress {
        position: fixed;
        left: 0;
        right: 0;
        height: 5px;
        background: var(--color-sidebar-accent-foreground);
        bottom: 50px;
        transform: scaleX(0);
    }
</style>
