---
import "@/styles/global.css";

type Props = Partial<{
    title: string;
    iconPath: string;
    class: string;
    style: string;
}>;

const props = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={props.iconPath} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{props.title}</title>
    </head>
    <body class={`min-h-dvh w-dvw ${props.class}`} style={props.style ?? ""}>
        <slot />
    </body>
</html>
