---
import AnimatedText from "../shared/animated-text";
---

<AnimatedText client:only>
    <header
        class="relative flex max-w-2xl flex-col items-center mt-[10dvh] gap-8"
    >
        <h1
            class="text-center text-3xl font-medium dark:text-gray-50 sm:text-6xl"
        >
            Proyectos que generan <strong class="text-orange-700"
                >impacto</strong
            >
        </h1>
        <h2 class="text-center text-lg leading-6">
            Servicios y programas diseñados junto a organizaciones que apuestan
            por la innovación y el crecimiento.
        </h2>
    </header>
</AnimatedText>
