---

---

<a
    class="back bg-foreground text-background hover:cursor-crosshair flex gap-4 p-4 items-center justify-center flex-col px-[2dvw] rounded-md"
    href="https://economia.unmsm.edu.pe"
>
    <svg
        class="h-[2dvw] min-h-6"
        viewBox="0 0 147 63"
        fill="var(--background)"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10.4942 16.2148C13.6621 13.6555 16.6452 11.36 19.4964 8.9062C21.0803 7.53419 22.4795 5.95109 23.9051 4.368C24.8554 3.3126 25.6739 2.04614 24.3803 0.753283C23.0075 -0.618732 21.6611 0.120058 20.4468 1.0963C18.15 2.96963 15.9325 4.89571 13.6357 6.76903C10.2566 9.48668 6.7719 11.9932 2.75919 13.7346C-0.567123 15.1858 -1.01593 18.6423 2.1256 20.3045C8.40865 23.629 13.8997 28.1144 19.998 31.65C20.8428 32.1513 21.9779 33.1012 22.8227 31.993C23.4827 31.0959 22.4267 30.2252 21.8195 29.592C19.2852 26.9007 16.6717 24.2886 14.1109 21.6501C13.6885 21.2016 12.9493 20.8586 13.1341 20.1462C13.3717 19.2227 14.2693 19.381 14.9821 19.3283C29.053 18.1409 43.1238 16.6106 57.3003 17.323C66.4081 17.7715 75.3574 19.1172 83.6204 23.3652C86.4716 24.8427 89.0059 26.716 90.9595 29.249C91.5931 30.0669 92.5434 31.0168 92.1474 32.0458C91.6723 33.2331 90.2995 32.7054 89.2963 32.7582C79.4493 33.3123 70.104 35.555 61.841 41.2013C58.5675 43.444 55.7691 46.1089 54.3172 49.9347C52.522 54.684 54.0796 58.7736 58.6466 61.0427C63.2137 63.3118 68.0184 63.3119 72.8759 62.3092C81.8253 60.4359 89.5603 56.4782 95.0778 48.8793C96.7673 46.5575 98.2193 43.9981 98.5625 41.175C98.9849 37.613 100.833 37.3491 103.816 37.8241C114.138 39.4863 123.774 43.101 133.093 47.6392C136.604 49.3543 140.089 51.0693 143.653 52.6788C144.577 53.1009 145.949 54.1563 146.689 52.6259C147.349 51.3067 145.897 50.6471 145.078 49.9083C144.999 49.8292 144.92 49.7764 144.814 49.7237C130.823 42.9428 117.544 34.2621 101.466 32.9428C99.8561 32.8109 98.7209 32.4415 98.1137 30.7265C95.9489 24.4997 91.4874 20.3045 85.7588 17.3758C74.803 11.7558 62.9761 10.5949 50.9644 11.0434C37.7647 11.5447 24.7235 13.3916 11.8406 16.294C11.5502 16.3468 11.2334 16.2676 10.547 16.2148H10.4942ZM66.7248 58.4307C65.2201 58.3251 63.8209 58.3515 62.501 58.1405C57.4587 57.3753 55.8483 53.7078 58.6995 49.4598C60.125 47.349 62.0522 45.6868 64.1641 44.2884C70.6583 39.9877 77.9446 38.2198 85.574 37.4547C88.2139 37.1908 91.9626 35.6077 93.2034 37.8768C94.5762 40.4098 92.2794 43.6288 90.5899 46.1881C90.1939 46.795 89.7451 47.4017 89.2435 47.9294C83.0925 54.3937 75.4894 57.7446 66.7513 58.4042L66.7248 58.4307Z"
        ></path>
    </svg>

    <span>Volver a la Facultad</span>
</a>
