---
interface Props {
    id: string;
    class?: string;
}

const props = Astro.props;
---

<section
    class={`${props.id} flex flex-wrap gap-x-[2dvh] gap-y-[1dvh] p-[clamp(1rem,4dvw,2rem)] text-center text-wrap break-words items-center justify-center border-2 rounded-md ${props.class} `}
>
    <slot />
</section>
