---
import Block from "@/components/ocaa/hero/block.astro";
const base = import.meta.env.BASE_URL;
---

<Block
    id="boss"
    class="gap-0 flex-wrap bg-rose-800 hover:bg-rose-900 max-sm:flex-col max-[28rem]:flex-row p-[0_!important] justify-items-end text-left"
>
    <header class="flex flex-col flex-wrap max-md:text-start p-4 text-white">
        <span class="text-accent-foreground text-[clamp(1rem,1.5dvw,1.15rem)]"
            >Econ. Hugo Sánchez Díaz</span
        >
        <span class="font-black text-[clamp(1rem,1.5dvw,1.15rem)]">Jefe</span>
    </header>
    <img
        class="w-[clamp(7.5rem,100%,min(15rem,15dvw))] max-h-full object-contain grayscale-100"
        src={`${base}/cdn/ocaa/jefe.webp`}
    />
</Block>
