<a
    class="mof bg-accent hover:cursor-crosshair flex gap-4 p-4 items-center justify-center flex-row px-[2dvw] rounded-md"
    href="https://economia.unmsm.edu.pe"
>
    <span class="material-symbols-outlined"> picture_as_pdf </span>
    <h1 class="text-2xl">MOF - 2015</h1>
    <span class="material-symbols-outlined"> arrow_outward </span>
</a>
