---
import Block from "@/components/ocaa/hero/block.astro";
---

<Block
    id="mof"
    class="bg-accent border-none break-keep max-xl:flex-col max-md:flex-row"
>
    <span class="material-symbols-outlined"> picture_as_pdf </span>
    <h1 class="text-[clamp(1rem,2.5dvw,1.5rem)]">MOF - 2015</h1>
    <span class="material-symbols-outlined"> arrow_outward </span>
</Block>
