---
import Block from "@/components/ocaa/hero/block.astro";
---

<Block id="mof" class="bg-accent border-none break-keep">
    <span class="material-symbols-outlined text-orange-300">
        picture_as_pdf
    </span>
    <h1 class="text-2xl">MOF - 2015</h1>
    <span class="material-symbols-outlined"> arrow_outward </span>
</Block>
