---
import Block from "@/components/ocaa/hero/block.astro";
---

<Block id="ocaa" class="relative overflow-hidden flex place-items-center">
    <video
        src="https://videos.pexels.com/video-files/5599700/5599700-uhd_2560_1440_30fps.mp4"
        autoplay
        muted
        loop
        playsinline
        class="absolute object-cover w-full h-full"></video>
    <h1
        class="text-[clamp(5rem,15dvw,20rem)] font-black mix-blend-difference leading-none"
    >
        OCAA
    </h1>
</Block>
